@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


* {
  box-sizing: border-box;
}

body {
  font-family: 'Georgia', serif;
  background-color: #332921;
  color: white;
  margin: 0px;
}
